
.box-wrapper {
    max-width: 900px;
    margin: 0 auto;
}

content {
    line-height: 1.8;
    color: #4b4b4b;
    font-size: 1.1rem;
}

content p {
    margin-bottom: 1.5rem;
}


.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
}

.feature-box {
    background: var(--pure-white);
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.02);
    transition: transform 0.3s ease;
}

.feature-box:hover {
    transform: translateY(-5px);
}

.feature-box i {
    font-size: 2.5rem;
    color: var(--gold-finger);
    margin-bottom: 1rem;
}

.feature-box p {
    font-size: 0.95rem;
    color: #666;
}

